* {
    margin:0;
    padding:0;
}
a{
    text-decoration: none;
}
.container {
    position: relative;
    width: 600px;
    height: 400px;
    margin:100px auto 0 auto;
    box-shadow: 0 0 5px green;
    overflow: hidden;
}
.container .wrap {
    display: flex;
    width: 600px;
    height: 400px;
    z-index: 1;
}
.container .wrap img {
    position: absolute;
    opacity: 0;
    display: inline-block;
    width: 600px;
    height: 400px;
    object-fit: cover;
}
.container .buttons {
    position: absolute;
    right: 5px;
    bottom:40px;
    width: 150px;
    height: 10px;
    z-index: 2;
}
.container .buttons span {
    margin-left: 5px;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: green;
    text-align: center;
    color:white;
    cursor: pointer;
}
.container .buttons span.on{
    background-color: red;
}
.container .arrow {
    position: absolute;
    top: 35%;
    color: green;
    padding:0 14px;
    border-radius: 50%;
    font-size: 50px;
    z-index: 2;
    display: none;
}
.container .arrow_left {
    left: 10px;
}
.container .arrow_right {
    right: 10px;
}
.container:hover .arrow {
    display: block;
}
.container .arrow:hover {
    background-color: rgba(0,0,0,0.2);
}

h3{
    margin-left: auto;
    margin-right: auto;
    padding-left: 45%;
    padding-top: 2rem;
    margin-bottom:-5rem;
}

table{
    margin: 2rem auto;
    width: 600px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 3px 3px 3px gray;
}

@keyframes scroll-out-left {
    from {
        left: 0;
        opacity: 1;
    }

    99% {
        opacity: 1;
    }

    to {
        left: -100%;
        opacity: 0;
    }
}

@keyframes scroll-out-right {
    from {
        left: 0;
        opacity: 1;
    }

    99% {
        opacity: 1;
    }

    to {
        left: 100%;
        opacity: 0;
    }
}

@keyframes scroll-in-left {
    from {
        left: 100%;
        opacity: 0;
    }

    1% {
        opacity: 1;
    }

    to {
        left: 0;
        opacity: 1;
    }
}

@keyframes scroll-in-right {
    from {
        left: -100%;
        opacity: 0;
    }

    1% {
        opacity: 1;
    }

    to {
        left: 0;
        opacity: 1;
    }
}