.navbar-brand{
    padding: 6px 6px;
}



.carousel-inner{
    height: 750px;
    position: relative;
    text-align: center;
}

.item {
    position: relative;
    width: 80%;
    height: 100%;
    margin-left: 18%;
    margin-right: 10%;

}

.item img{
    width: 1200px;
    height: 1000px;
}


.section-head{
    margin: 20px;
    font-family: 黑体;
    font-size: 2em;
    font-weight: bolder;
    color: Black;
}
.grid-container{
    margin: 15px;
    display: grid;/*利用grid实现响应式布局*/
    grid-gap:20px;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
}
.picture_container{
    border-radius: 5px;
    background-color: transparent;
}
.picture{
    display: block;
    margin:0 auto;
    height: 70%;
    border-radius: 5px;
    padding-top: 65%; /*用宽高比使图片自适应*/
    background-repeat: no-repeat;
    background-size: cover;
}
.picture a{
    display: block;
    width:100%;
    height:100%;
}
#picture1{
    background-image:url(images/picture1.jpg)
}  #picture2{
       background-image:url(images/picture2.jpg)
   }  #picture3{
          background-image:url(images/picture3.jpg)
      }  #picture4{
             background-image:url(images/picture4.jpg)
         }  #picture5{
                background-image:url(images/picture5.jpg)
            }  #picture6{
                   background-image:url(images/picture6.jpg)
               }  #picture7{
                      background-image:url(images/picture7.jpg)
                  }  #picture8{
                         background-image:url(images/picture8.jpg)
                     }  #picture9{
                            background-image:url(images/picture9.jpg)
                        }  #picture10{
                               background-image:url(images/picture10.jpg)
                           }
.picture_introduce{
    display: block;
    height: 30%;
}
.picture_introduce h1{
    font-family: 方正粗黑宋简体;
    font-size: 1.5em;
    line-height: 30px;
    height:20px;
    text-align: left;
    vertical-align: middle;
}

.picture_introduce p {
    line-height: 35px;
    font-size: 1.1em;
    font-weight: lighter;
    text-align: left;
    overflow: hidden;
    text-overflow:ellipsis;
    width: 100%;
    white-space: nowrap;
}












footer{
    background-color: #333333;
}
.row{
    margin-top: 30px;
    margin-left: 110px;
}
.copyright{
    color: white;
    text-align: center;
}
footer a{
    color: white;
}